@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.slice {
  font-family: "Great Vibes", sans-serif;
  transition: all ease-in-out 1s;
  transform: rotate(0deg);
  position: absolute;
  width: 120px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  background: linear-gradient(to bottom, transparent, #ffafbd, #ffc3a0);
  clip-path: ellipse(50% 80% at 50% 20%); /* Shape of the petal */
  text-align: center;
  line-height: 200px; /* Adjust to center text vertically */
  color: white;
  text-decoration: none;
  font-size: 2em;
  transform-origin: bottom center;
}

/* Style for each slice */
.slice1 {
  transform: rotate(0deg) translate(0);
}
.slice2 {
  transform: rotate(72deg) translate(0);
}
.slice3 {
  transform: rotate(144deg) translate(0);
}
.slice4 {
  transform: rotate(216deg) translate(0);
}
.slice5 {
  transform: rotate(288deg) translate(0);
}
